<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lsg.www.mapper.MainMapper">
    <resultMap id="YsCoptResult" type="java.util.HashMap">
        <result column="COPT_ID" property="coptId" />
        <result column="COPT_NAME" property="coptName" />
        <result column="COPT_LOC" property="coptLoc" />
        <result column="COPT_DT" property="coptDt" />
        <result column="COPT_TM" property="coptTm" />
        <result column="COPT_PRID" property="coptPrid" />
        <result column="COPT_AGE_GROP" property="coptAgeGrop" />
        <result column="COPT_MTCH_RULE" property="coptMtchRule" />
        <result column="COPT_FEE" property="coptFee" />
        <result column="COPT_STAF_TEL_NO" property="coptStafTelNo" />
    </resultMap>

    <select id="getYsCopt" resultMap="YsCoptResult" parameterType="com.lsg.www.vo.YsCoptVo">
        SELECT ifnull(COPT_ID, '') AS COPT_ID,
			   ifnull(COPT_NAME, '') AS COPT_NAME,
			   ifnull(COPT_LOC, '') AS COPT_LOC,
			   ifnull(COPT_DT, '') AS COPT_DT,
			   ifnull(COPT_TM, '') AS COPT_TM,
			   ifnull(COPT_PRID, '') AS COPT_PRID,
			   ifnull(COPT_AGE_GROP, '') AS COPT_AGE_GROP,
			   ifnull(COPT_MTCH_RULE, '') AS COPT_MTCH_RULE,
			   ifnull(COPT_FEE, '') AS COPT_FEE,
			   ifnull(COPT_STAF_TEL_NO, '') AS COPT_STAF_TEL_NO
		  FROM YS_COPT
    </select>
</mapper>